@keyframes jumpIn_2 {
    0% {
      opacity: 0;
      transform: translateY(10%);
    }
    50% {
      opacity: 1;
      transform: translateY(-1%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .contactForm-container{
    animation: jumpIn_2 1s ease-out;
  }


.contactForm-container{
    background: #212129;
    padding: 0.5rem 0;
}

.contactHeading{
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

label {
    color: #fff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 200;
  }
  

.contactForm-content{
    display: flex;
    flex-direction: column;
    margin: 4rem 12rem;
}
/* 
.name,.email,.phone,.message{
    margin:2rem 3rem 2rem 8rem;
} */


input[type=text],input[type=tel] {
    width: 60%;
    color: white;
    padding: 10px 20px;
    margin: 0.8rem 0 2rem;
    display: inline-block;
    border: 3px solid rgba(251, 251, 251, 0.30);
    background-color: #212129;
    resize: vertical;
    box-sizing: border-box;

  }

textarea {
    width: 60%;
    height:10rem;
    color: white;
    margin: 0.8rem 0 2rem;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(251, 251, 251, 0.30);
    background-color: #212129;
  }

  input[type=submit] {
    background-color:  #212129;
    color: white;
    padding: 12px 20px;
    border: 3px solid rgba(251, 251, 251, 0.30);
    cursor: pointer;
    float: left;
  }
  
  input[type=submit]:hover {
    background-color: #882bff;
    transition: all 0.3s ease-out;
  }

  /*tablets*/
  @media screen and (max-width: 1100px) {
    input[type=text],input[type=tel],textarea {
      width: 80%;
      margin-top: 0;
    }

    .contactForm-content{
        margin: 6rem 2rem;
    }
  }
  
  /*mobile*/
  @media screen and (max-width: 600px) {
    input[type=text],input[type=tel],textarea {
      width: 100%;
      margin-top: 0;
    }

    .contactForm-content{
        margin: 2rem 2rem;
    }
  }