.card-container{
  /* border:1px solid hsl(0, 1%, 68%); */
  /* border-radius: 0px; */
  /* box-shadow: 5px 5px 5px hsl(0, 1%, 68%); */
  /* padding: 20px; */
  display: inline-block;
  flex-direction: column;
  height: fit-content;
  /* overflow: hidden; */
}

/* .card-image{
  height: 50%;
  width: 19vw;
  transition: transform 0.4s;
  animation: ease-in;
  overflow: hidden;
} */

.card-image {
  height: 50vh; /* Adjust as needed */
  width: 80%; /* Takes the full width of the container */
  object-fit: cover; /* Scales the image to cover the container without stretching */
  transition: transform 0.4s;
  animation: ease-in;
  overflow: hidden;
}

.card-image:hover{
  transform: scale(1.1);
}

/* .inner-card-textbody{
  text-align: left;
  color: var(--Primary-Light-Black, #212129);
  font-family: "Inter";
} */

.inner-card-textbody:hover{
  text-decoration: underline;
  cursor: url("./assets/xmark-solid.svg"), auto;
}


.card-title{
  color: var(--Primary-Light-Black, #212129);
  font-family:Inter;
  font-weight: 250;
  margin-top: 7%;
  margin-bottom: 0%;  /* font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: 10px; */
}

.card-text{
  color: var(--Primary-Light-Black, #212129);
  font-family: "Inter";
  font-weight: 450;
  margin-top: 1%;
  /* font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px; */
}

